@import url(global.css);

header {
  height: 80px;
  border: lime 1px solid;
  padding: 32px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

}

header nav {
  justify-content: space-between;
}

.globe-icon {
  height: 26px;
  width: 26px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  line-height: 160%;

  color: var(--brand-color);
  opacity: 100%;
}

.searching-logo {
  height: 20px;
  width: 20px;
}

nav a {
  text-decoration: none;
  font-size: 16px;
}

nav img {
  width: 40px;
  height: 40px;
}